ITSolution_Development/ITSolution.Reports/Connected Services/ReportServer/reports2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/ITSolution.Reports.Entidades" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/ITSolution.Reports.Entidades" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfReportImage">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ReportImage" nillable="true" type="tns:ReportImage" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfReportImage" nillable="true" type="tns:ArrayOfReportImage" />
  <xs:complexType name="ReportImage">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:AbstractReportImage">
        <xs:sequence>
          <xs:element minOccurs="0" name="Datasources" nillable="true" type="tns:ArrayOfReportDataSource" />
          <xs:element minOccurs="0" name="IdReport" type="xs:int" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ReportImage" nillable="true" type="tns:ReportImage" />
  <xs:complexType name="AbstractReportImage">
    <xs:sequence>
      <xs:element minOccurs="0" name="Grupo" nillable="true" type="tns:ReportGroup" />
      <xs:element minOccurs="0" name="IdGrpReport" type="xs:int" />
      <xs:element minOccurs="0" name="ReportDescription" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ReportName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="AbstractReportImage" nillable="true" type="tns:AbstractReportImage" />
  <xs:complexType name="ReportGroup">
    <xs:sequence>
      <xs:element minOccurs="0" name="GroupDescription" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IdGrpReport" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ReportGroup" nillable="true" type="tns:ReportGroup" />
  <xs:complexType name="ArrayOfReportDataSource">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ReportDataSource" nillable="true" type="tns:ReportDataSource" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfReportDataSource" nillable="true" type="tns:ArrayOfReportDataSource" />
  <xs:complexType name="ReportDataSource">
    <xs:sequence>
      <xs:element minOccurs="0" name="Consulta" nillable="true" type="tns:SqlQueryIts" />
      <xs:element minOccurs="0" name="Datamember" type="xs:boolean" />
      <xs:element minOccurs="0" name="IdDataSource" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IdQuery" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IdReport" type="xs:int" />
      <xs:element minOccurs="0" name="ReportImage" nillable="true" type="tns:ReportImage" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ReportDataSource" nillable="true" type="tns:ReportDataSource" />
  <xs:complexType name="SqlQueryIts">
    <xs:sequence>
      <xs:element minOccurs="0" name="CodigoQuery" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CorpoQuery" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DataAlteracao" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="DataCriacao" type="xs:dateTime" />
      <xs:element minOccurs="0" name="IdQuery" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NomeQuery" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SqlQueryIts" nillable="true" type="tns:SqlQueryIts" />
</xs:schema>